<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="Description" content="Ferienwohnungen und ein Ferienhaus in Berchtesgaden" />
    <title>{{ page.title }}</title>
    <link href='http://fonts.googleapis.com/css?family=Merienda+One|Delius' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="stylesheets/hammererlehen.css" type="text/css" media="screen">
    <link href='/images/favicon.ico' rel='shortcut icon' type='image/ico'>
  </head>
  <body>
    <div id="container">
      <header>
        <a id="title" href="/"><small>Ferienwohnungen</small><br />Hammererlehen Berchtesgaden</a>
      </header>
      <nav>
        <ul id="navigation">
          <li><a href="gaestehaus.html">Gästehaus</a></li>
          <li><a href="umgebung.html">Umgebung</a></li>
          <li><a href="anfahrt.html">Anfahrt</a></li>
          <li><a href="kontakt.html">Kontakt</a></li>
        </ul>
        {% if page.subnavigation %}
        <ul id="subnavigation">
          <li><a href="nationalpark.html">Nationalpark Berchtesgaden</a></li>
          <li><a href="salzburg.html">Salzburg</a></li>
        </ul>
        {% endif %}
      </nav>
      <div id="content">
        {{ content }}
      </div>
      <div id="footer"><footer>
        <p>
          Das Hammererlehen in Berchtesgaden bietet Ihnen einen erholsamen
          Urlaub in den Berchtesgadener Alpen.<br />
          Kontaktieren Sie und per Telefon +49 8652 63382 oder per E-Mail an <a href="mailto:info@hammererlehen.de">info@hammererlehen.de</a>
        </p>
      </footer></div>
    </div>
    <script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
    </script>
    <script type="text/javascript">
    _uacct = "UA-1127310-4";
    urchinTracker();
    </script>
  </body>
</html>